*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: #5C331D;
    color: #ffff;
    font-family: 'Cabin', sans-serif;

}
header{
    position: sticky;
    top: 0;
    z-index: 1000;

}
nav {
    background-color: #DF6429;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}
nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
}
nav ul li {
    margin: 0 50px;
}
nav ul li a {
    font-size: 40px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: capitalize;
    color: #ffff;
}
/*Banner*/
.backgroundBanner {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
    text-align: justify;
    align-content: center;
}

.backgroundBanner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo con transparencia */
}
.txtBanner{
    margin: 2rem 0;
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: justify;
}
.containerB {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
}
.containerB h1{
    font-size: 50px;
}

.btnContacto{
    background: #DF6429;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
}

p{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
/*Sobre Nosotros*/

.nosotros{
    padding: 3rem 0;
}

.containerN{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem,1fr));
    grid-gap: 2rem;
}
.containerN h2{
    font-size: 40px;
}
.boxN{
    overflow: hidden;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boxN img {
    width: 90%;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
}

footer{
    background-color: #4c4c4c;
    color: #ffff;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}
